//colors
$my-background: whitesmoke;
$card-background:#e6e6e6;
$footer-color:#262626;
$button-color: white;
$link-color: black;
$hover-color: transparent;

//sizes
$my-width: 450px;

//fonts
$my-serif: georgia,serif;
$my-sans: copperplate,helvetica,arial,sans-serif;
